body {
    background-color: #303030;
    color: whitesmoke;
}

.contenedor {
    padding: 3%;
}

#entrada {
    text-align: center;
    background-color: #252525;
    height: 100%;
    border-radius: 30px;
}

.icono {
    text-align: center;
    font-size: 50px;
}

.card {
    border: solid transparent 1px;
    transition: border 200ms;
}
.card:hover {
    border: solid darkorchid 1px;
}

.btninicio {
    padding: 20px 40px;
    border-radius: 3px;
}

.btn-light:hover {
    background-color: darkorchid;
    color: white;
    border-color: #202020;
}

.modal-content {
    text-align: left;
    background-color: #404040;
}

@media only screen and (min-width: 1300px) {
    .icono {
        font-size: 32px;
    }
    .card {
        width: 12rem !important;
        height: 8rem !important;
        font-size: 12px;
    }
}