body {
    background-color: #303030;
    color: whitesmoke;
}

.contenedor {
    padding: 3%;
}

#iniciar {
    vertical-align: center;
}

#entrada {
    text-align: center;
    background-color: #252525;
    height: 100%;
    border-radius: 30px;
}